header {
    /* border: solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 4%;

    /* Semi-transparent background */
    background-color: rgba(255, 255, 255, 0.3);
    /* Apply blur effect */
    backdrop-filter: blur(10px);

    /* Shadow */

}

.headerShadow {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

header h1 {

    font-size: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

header h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    font-size: larger;
    font-weight: bold;
    margin-top: 5px;

}

/* header nav { 
    border: solid; 
    display: flex; 
    gap: 17px;
}*/


header nav {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
}